{% extends "layout.html" %}
{% block body %}
<!--Container Main start-->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <!-- Line graph -->
                <canvas id="myChart" style="width:100%;max-width:100%"></canvas>
                <script type="text/javascript" src="{{url_for('static', filename='js/LineGraph.js')}}"></script>
            </div>
            <div class="col-sm">
                <canvas id="myPieChart" style="width:100%;max-width:100%"></canvas>
                <script type="text/javascript" src="{{url_for('static', filename='js/PieChart.js')}}"></script>
            </div>
            <div class="col-sm">
                <canvas id="myBarChart" style="width:100%;max-width:100%"></canvas>
                <script type="text/javascript" src="{{url_for('static', filename='js/BarGraph.js')}}"></script>
            </div>
        </div>
        
        <div class=ListTable>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock %}