{% extends "layout.html" %}
{% block body %}
<!--Container Main start-->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <!-- Line graph -->
                <canvas id="myChart" style="width:100%;max-width:100%"></canvas>
                <script type="text/javascript" src="{{url_for('static', filename='js/LineGraph.js')}}"></script>
            </div>
            <div class="col-sm">
                <canvas id="myPieChart" style="width:100%;max-width:100%"></canvas>
                <script type="text/javascript" src="{{url_for('static', filename='js/PieChart.js')}}"></script>
            </div>
            <div class="col-sm">
                <canvas id="myBarChart" style="width:100%;max-width:100%"></canvas>
                <script type="text/javascript" src="{{url_for('static', filename='js/BarGraph.js')}}"></script>
            </div>
        </div>

        <div class=ListTable>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crtUser">
                Add
            </button>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Ticket no</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Agent</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Issue</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>

                    {% for user in userdata %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{user.1}}</td>
                        <td>{{user.3}}</td>
                        <td>{{user.5}}</td>
                        <td>{{user.2}}</td>
                        <td>{{user.4}}</td>
                        <td>
                            <!-- <button action='/update/{{user}}' method='post' type="button" class="btn btn-outline-success btn-sm mx-1">Update</button> -->
                            <a href="#" data-bs-toggle="modal" data-bs-target="#edit{{user.0}}" method='post'
                                type="button" class="btn btn-primary btn-sm mx-1">Edit</a>
                            <a href="/delete/{{user.0}}" method='post' type="button"
                                class="btn btn-outline-danger btn-sm mx-1">Delete</a>

                        </td>
                    </tr>

                    <!--
    Create Modal class
-->
                    <form action='/edit/{{user.0}}' method='post'>
                        <div class="modal" id="edit{{user.0}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Ticket</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <input type="text" name="agentName" value="{{user.3}}">
                                        <input type="text" name="issue" value="{{user.4}}" required="1">
                                        </br>
                                        <input type="radio" name="radio1" required="1" value="High">Priority High
                                        <input type="radio" name="radio1" required="1" value="Low">Priority Low
                                        <input type="radio" name="radio1" required="1" value="Medium">Priority Medium
                                        <div>
                                            <label for="Status Type">Status</label>
                                            <select name="Status Type" id="Status Type">
                                                <option value="Resolve">Resolve</option>
                                                <option value="Progress">Progress</option>
                                                <option value="Can not Resolve">Can't Resolve</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>





{% endblock %}