<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Ticketing tool</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body class='snippet-body'>

    <!--disable right clieck remove from body tag     "  oncontextmenu='return false' "  -->

    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i>
                        <span class="nav_logo-name">Ticketing Tool</span> </a>
                    <div class="nav_list">
                        <a href="#" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i>
                            <span class="nav_name">Dashboard</span> </a>
                        <a href="https://github.com/birendramondal/TicketTool" target="_blank" class="nav_link" data-toggle="modal" data-target="#crtUser"> <i
                                class='bx bx-user nav_icon'></i>
                            <span class="nav_name">About Project</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i>
                            <span class="nav_name">Messages</span></a>
                        <a href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i>
                            <span class="nav_name">Bookmark</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-folder nav_icon'></i>
                            <span class="nav_name">Files</span> </a>
                        <a href="#" class="nav_link "> <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                            <span class="nav_name">Stats</span> </a>


                    </div>
                </div>
                <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i>
                    <span class="nav_name">SignOut</span> </a>
            </nav>
        </div>




        <!-- Body Content here -->
        {% block body %}

        {% endblock %}

        <!--
    Create Modal class
-->
        <form action='/add' method='post'>
            <div class="modal" id="crtUser">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Ticket</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <table class="table table-hover table-responsive-sm">
                                <tr>
                                    <td>Agent ID</td>
                                    <td><input type="text" name="agentName" placeholder="20000045"></td>
                                </tr>
                                <tr>
                                    <td>Issue</td>
                                    <td><input type="text" name="issue" placeholder="Increase RAM"></td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="radio" name="radio1" value="High">Priority High
                                    </td>
                                    <td>
                                        <input type="radio" name="radio1" value="Low">Priority Low
                                    </td>
                                    <td>
                                        <input type="radio" name="radio1" value="Medium">Priority Medium
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="Status Type">Status</label>
                                        <select name="Status Type" id="Status Type">
                                            <option value="Resolve">Resolve</option>
                                            <option value="Progress">Progress</option>
                                            <option value="Can't Resolve">Can't Resolve</option>
                                        </select>
                                    </td>
                                </tr>

                            </table>

                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>


        <!-- Body content end -->

        <script type='text/javascript'
            src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
        <script type='text/javascript' src=''></script>
        <script type='text/javascript' src=''></script>

        <script type="text/javascript" src="{{url_for('static', filename='js/logic.js')}}"></script>


    </body>

</html>